<% if @user.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user, url: {action: :create} do |f| %>
  <%= f.label :uid, 'ユーザーID' %> 
  <%= f.text_field :uid %> 
  <p>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, 'パスワード(確認)' %>
    <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit '登録' %>
<% end %>

<% if session[:login_uid] %>
  ログイン中
<% else %>
  ログインしていません
<% end %>